<div class="app">
  <div class="assets">
    <img src="./assets/1.png" alt="img" class="a">
    <img src="./assets/2.png" alt="img" class="b">
    <img src="./assets/3.png" alt="img" class="c">
    <img src="./assets/4.png" alt="img" class="d">
    <img src="./assets/5.png" alt="img" class="e">
    <img src="./assets/centered_img.png" alt="center" class="marker">
  </div>
  <!-- Wheel's border -->
  <div class="line">
    <div>
      <div class="dots"></div>
    </div>
  </div>
  <canvas id="canvas" #canvas width="500" height="500"></canvas>
  <!-- Spin Button -->
  <div class="btnContainer">
    <button type="button" class="spin" id='spin' (click)="spin()">Spin the wheel</button>
  </div>
</div>